        this.lowerBound_${count} = ByteVector.SPECIES_PREFERRED.broadcast(${op.LowerBound}).reinterpretAsBytes();
        this.upperBound_${count} = ByteVector.SPECIES_PREFERRED.broadcast(${op.UpperBound}).reinterpretAsBytes();
        this.literal_${count} = ByteVector.SPECIES_PREFERRED.broadcast(${op.Literal}).reinterpretAsBytes();
